@font-face {
  font-family: 'AvenirLTStd-Light';
  src: url('fonts/AvenirLTStd-Light.otf'); 
  src: 
    local('AvenirLTStd-Light'),
    local('AvenirLTStd-Light'),
    url('fonts/AvenirLTStd-Light.otf') 
    format('opentype');
  font-weight: light;
}

@font-face {
  font-family: 'AvenirLTStd-Heavy';
  src: url('fonts/AvenirLTStd-Heavy.otf'); 
  src: 
    local('AvenirLTStd-Heavy'),
    local('AvenirLTStd-Heavy'),
    url('fonts/AvenirLTStd-Heavy.otf') 
    format('opentype');
  font-weight: heavy;
}

@font-face {
  font-family: 'ITCAvantGardeStd-Demi';
  src: url('fonts/ITCAvantGardeStd-Demi.otf'); 
  src: 
    local('ITCAvantGardeStd-Demi'),
    local('ITCAvantGardeStd-Demi'),
    url('fonts/ITCAvantGardeStd-Demi.otf') 
    format('opentype');
}


.section1 {
  margin-top: -19px;

  height: 900px;
  text-align: center;
  padding-top: 50px;
  z-index: 0;
  position: relative;

background : -moz-linear-gradient(2.72% -10.43% -30deg,rgba(78, 157, 207, 1) 0%,rgba(75, 152, 205, 1) 4.96%,rgba(67, 139, 200, 1) 22.71%,rgba(62, 132, 197, 1) 46.38%,rgba(61, 130, 196, 1) 100%);
  background : -webkit-linear-gradient(-30deg, rgba(78, 157, 207, 1) 0%, rgba(75, 152, 205, 1) 4.96%, rgba(67, 139, 200, 1) 22.71%, rgba(62, 132, 197, 1) 46.38%, rgba(61, 130, 196, 1) 100%);
  background : -webkit-gradient(linear,2.72% -10.43% ,97.28% 110.43% ,color-stop(0,rgba(78, 157, 207, 1) ),color-stop(0.0496,rgba(75, 152, 205, 1) ),color-stop(0.2271,rgba(67, 139, 200, 1) ),color-stop(0.4638,rgba(62, 132, 197, 1) ),color-stop(1,rgba(61, 130, 196, 1) ));
  background : -o-linear-gradient(-30deg, rgba(78, 157, 207, 1) 0%, rgba(75, 152, 205, 1) 4.96%, rgba(67, 139, 200, 1) 22.71%, rgba(62, 132, 197, 1) 46.38%, rgba(61, 130, 196, 1) 100%);
  background : -ms-linear-gradient(-30deg, rgba(78, 157, 207, 1) 0%, rgba(75, 152, 205, 1) 4.96%, rgba(67, 139, 200, 1) 22.71%, rgba(62, 132, 197, 1) 46.38%, rgba(61, 130, 196, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4E9DCF', endColorstr='#3D82C4' ,GradientType=0)";
  background : linear-gradient(120deg, rgba(78, 157, 207, 1) 0%, rgba(75, 152, 205, 1) 4.96%, rgba(67, 139, 200, 1) 22.71%, rgba(62, 132, 197, 1) 46.38%, rgba(61, 130, 196, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4E9DCF',endColorstr='#3D82C4' , GradientType=1);
}

.section1 p {
  color: white;
  font-family: 'AvenirLTStd-Light', sans-serif;
  font-size: 18px;
  padding-left: 100px;
  padding-right: 100px; 
}

.section2 {
  height: 450px;
  text-align: center;
  padding-top: 110px;
  z-index: 0;
  position: relative;
  background-color:white;
}

.section2 svg {
  padding-left: 80px;
  padding-right: 80px;
}

.section3 {
  height: 500px;
  text-align: center;
  color: white;
 
  font-family: 'AvenirLTStd-Light', sans-serif;
  font-size: 18px;
  padding-top: 100px;
  z-index: 0;
  position: relative;
  /*background-image: url("../img/crosses.png");
  background-repeat: repeat;*/

  background : -moz-linear-gradient(69.53% 154.19% 120deg,rgba(78, 157, 207, 1) 0%,rgba(61, 130, 196, 1) 100%);
  background : -webkit-linear-gradient(120deg, rgba(78, 157, 207, 1) 0%, rgba(61, 130, 196, 1) 100%);
  background : -webkit-gradient(linear,69.53% 154.19% ,30.47% -54.19% ,color-stop(0,rgba(78, 157, 207, 1) ),color-stop(1,rgba(61, 130, 196, 1) ));
  background : -o-linear-gradient(120deg, rgba(78, 157, 207, 1) 0%, rgba(61, 130, 196, 1) 100%);
  background : -ms-linear-gradient(120deg, rgba(78, 157, 207, 1) 0%, rgba(61, 130, 196, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4E9DCF', endColorstr='#3D82C4' ,GradientType=0)";
  background : linear-gradient(-30deg, rgba(78, 157, 207, 1) 0%, rgba(61, 130, 196, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4E9DCF',endColorstr='#3D82C4' , GradientType=1);  

}
.section3 h1 {
    font-size: 40px;
    color: white;
   
    font-family: 'AvenirLTStd-Heavy', sans-serif;
}

.section3 p {
  padding-left: 100px;
  padding-right: 100px;  
}

body {
  padding-top: 100px;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative;
  background-image: url("../img/crosses.png");
  background-repeat: repeat;
  font-family: 'Roboto', sans-serif;
  background-attachment: scroll;


}

.header_container 
      { 
        position:fixed;
        top:0px;
        left:0px;
        z-index:1000;
        width:100%;

       }

.header {
    height:80px;
    background:white;
    width:100%;
    margin:0px auto;
    z-index: 1;
    position: relative;

  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  box-shadow : 0px 4px 3px rgba(22, 19, 34, 0.2);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=4, Color='#161322') ;
}

.header a{
  padding-left: 10px;
  padding-right: 10px;  
  font-family: 'Roboto', sans-serif;
  color: #788F9B;
  -o-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -khtml-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  transition: color 0.2s linear;  
}

.header a:hover{
  color: #70B2E1;
}

.header nav {
  padding-top: 25px;
  float: right;
}

.header_logo {
  padding-top: 15px;
  padding-left: 0px;

  float: left;

}

.panel
{
  display:block;
  margin:0; 
  padding:0;
  margin-top: -19px;
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  box-shadow : 0px 5px 6px rgba(35, 31, 32, 0.3);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=5, Color='#231F20') ;
}

.panel p {
  margin: 30px 80px 80px 80px;
  text-align: justify;
  color:#58585B;
}

.panel h1 {
  margin-top: 50px;
  text-align: left;
  margin-left:80px;
  font-size: 40px;
  color: #58585B;
   
  font-family: 'AvenirLTStd-Heavy', sans-serif;
}



